@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: #000020;
}

body{
    min-height: 100vh;
}

.container-project .title {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #3a6cf4;
}
.container-project .title h1{
    color: #fff;
    margin-top: 50px;
    font-size: 2em;
}

.container-project .info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #000020;
    color:rgba(255, 255, 255, 0.801);
}
.container-project .info h3{
    font-size: 1.5em;
    font-weight: 500;
    padding: 10px;
    letter-spacing: .1em;
    color:#3a6cf4;
}
.container-project .info .text{
    font-size: 1em;
    text-align: justify;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    letter-spacing: .1em;
}
.container-project .info .list-skills{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;  
}
.container-project .info .list-skills .skills-project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    font-size: .7em;
}
.skills-project img{
    width: 50px;
    height: 40px;
}
.info .repo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.info .repo i{
    color: #fff;
}
.footer{
    background: #000016;
    color: #fff;
    text-align: center;
    padding: 2em;
}

.footer .footer-title{
    font-size: 20px;
    font-weight: 600;
}

.footer p{
    font-size: 16px;
    margin-top: 10px;
    background: #000016;
}
